*{
    padding: 0;
    margin: 0;
    text-decoration: none;
list-style: none;
    box-sizing: border-box;
    
}
body{
    font-family: montserrat;
}
nav{
    background: #047c58;
    height: 50px;
    width: 100%;
}
nav ul{float:left;
margin-left: 5%;
margin-top: 0%;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 5px;
}
nav ul li a{
    color: white;
    font-size: 14px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;

}
a:hover{
    background:rgb(5, 68, 42);
    
}

nav.mnu{
    background: rgb(4, 75, 46);
    height: 150px;
    width: 100%;}
 .mnu ul li{
    color: white;
    font-size: 17px;
display: inline-flex;
 margin-left:200px;


border-bottom: 1px solid white;
border-top: 1px solid white;
 }
  img{
    max-width: 100%;
    max-height: 100%;
    align-self: center;
    position: absolute; border: none;
    left: 40%; right: 40%; top: 10%;
   mix-blend-mode: hard-light;}



   .pic2{
    color: white;
    margin-left: 250px;
    margin-top: 3%;
   }

.navbar{background: #047c58;
    text-align: center;
height: 50px;}

.navbar ul{
    display: inline-flex;
    list-style: none;
    color: white;
}

.navbar ul li{
    width: 81px;
margin-left: 16px;
padding: 4px;
font-size: 5px;
word-spacing: 20px;
position: relative;
float: left;
}
.vk, .navbar ul li:hover {
    background: #047c58;
}

.navbar .fa-solid{
    margin-right: 2px;
}
.navbar ul li a{
    font-size: 20px;
    padding: 10px;
    color: black;
    display: block;
}


.navbar ul li ul{
    position: absolute;
    left: 0px;
    width: 200px;
    background: #047c58;
}
    .phy{
        position: relative;
        height:500px;
        width: 70%;
    }

   

    











